li:nth-child(3n+1){
    background: yellow;
}
ul > li:first-child > a:first-child{
    color: green;
}
li{
    list-style: none;
}
li:nth-child(even){
    font-size: 	1.25rem;
}
li:nth-child(odd){
    font-size: 1.125rem;
}
a{
    text-decoration: none;
}
li > a:hover{
    background: pink;
}
li::before{
    content: "-";
    color: green;
}
h3:nth-child(1){
    color: pink;
}
p:nth-child(3){
    color:grey
}
div > p{
    color: red;
}
p:nth-last-child(2){
    color: green;
}
p:nth-of-type(4){
    color: yellow;
}
